Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

Updating release docs to not use odk dev image
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update .github/workflows/subclass.yaml
  .github/workflows/subclass.yaml
Owners: @sabrinatoro, @twhetzel

Update src/ontology/mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

Update MATRIX sparql query
  src/sparql/reports/matrix-disease-list.sparql
Owners: @twhetzel

Update release document (#7980)
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Remove txt KGCL output
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fixing ODK version in Mondo to 1.5.2 (#7985)
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel

Remove ordo_cinical_subtype subset from query
  src/sparql/reports/matrix-disease-list.sparql
Owners: @twhetzel

Add proper hgnc-import refresh goal into Makefile
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Refresh hgnc import using new makegoal
  src/ontology/imports/hgnc_import.owl
Owners: @sabrinatoro, @twhetzel

Update rare subset HGNC import to be a temporary goal
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

refresh for hgnc25321
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/go_terms.txt
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/pato_terms.txt
  src/ontology/imports/ro_terms.txt
Owners: @sabrinatoro, @twhetzel

refresh for hgnc25321 (#7995)
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/go_terms.txt
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/pato_terms.txt
  src/ontology/imports/ro_terms.txt
Owners: @sabrinatoro, @twhetzel

update docs
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add goals to generate a mapping change diff report (#7962)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

update docs (#7997)
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add goals to generate a mapping change diff report (#7962)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

update docs (#7997)
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Switch hgnc_import to filter style which does not require sparql
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Remove HGNC import which we dont need anymore
  src/ontology/imports/hgnc_import.owl
Owners: @sabrinatoro, @twhetzel

Bug in path of hgnc import
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Add QC check for proper treatment of preferred external
  src/sparql/qc/mondo/qc-preferred-external-no-equivalent.sparql
Owners: @twhetzel

Add OMIA to xref without source check
  src/sparql/qc/general/qc-xref-without-source.sparql
Owners: @twhetzel

Bring list of genes in omim gene QC
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Adding HGNC import goal to Makefile (#7993)
  src/ontology/Makefile
  src/ontology/imports/hgnc_import.owl
Owners: @matentzn, @twhetzel, @sabrinatoro

add back MONDO:obsoleteEquivalent
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

Draft 1: Update confirmed subclass of evidence in Mondo (#7801)
  .github/workflows/subclass.yaml
  src/ontology/mondo.Makefile
Owners: @sabrinatoro, @twhetzel, @matentzn

Update src/ontology/mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update release document (#7980)
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Fixing ODK version in Mondo to 1.5.2 (#7985)
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel

refresh for hgnc25321 (#7995)
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/go_terms.txt
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/pato_terms.txt
  src/ontology/imports/ro_terms.txt
Owners: @sabrinatoro, @twhetzel

add goals to generate a mapping change diff report (#7962)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

update docs (#7997)
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Adding HGNC import goal to Makefile (#7993)
  src/ontology/Makefile
  src/ontology/imports/hgnc_import.owl
Owners: @matentzn, @twhetzel, @sabrinatoro

Draft 1: Update confirmed subclass of evidence in Mondo (#7801)
  .github/workflows/subclass.yaml
  src/ontology/mondo.Makefile
Owners: @sabrinatoro, @twhetzel, @matentzn

Add QC to ensure that if we provide evidence for a subset, the mapping must be exact (#7689)
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/index.md
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Add QC to ensure that if we provide evidence for a subset, the mapping must be exact (#7689)
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

add check for omim gene entries used as xrefs
  src/ontology/mondo.Makefile
  src/sparql/reports/omim-genes.sparql
Owners: @matentzn, @twhetzel

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user
