Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user

updates based on PR comments
  docs/editors-guide/externally-managed-content.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add emc abbreviation
  docs/editors-guide/externally-managed-content.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Document QC checks for EMC (#8186)
  docs/editors-guide/externally-managed-content.md
  mkdocs.yml
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

refresh imports 20Sep2024
  src/ontology/imports/go_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/pato_terms.txt
Owners: @sabrinatoro, @twhetzel

refresh imports 20Sep2024 (#8189)
  src/ontology/imports/go_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/pato_terms.txt
Owners: @sabrinatoro, @twhetzel

update workshop page
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add query and data file for general mondo stats
  src/sparql/mondo_stats/COUNT-disease-classes.sparql
  src/sparql/reports/mondo_stats/disease_count.tsv
Owners: @twhetzel, @sabrinatoro

remove file
  src/sparql/reports/mondo_stats/disease_count.tsv
Owners: @sabrinatoro, @twhetzel

change report output location, update sparql query comment
  src/ontology/mondo.Makefile
  src/sparql/mondo_stats/COUNT-broad-synonyms.sparql
  src/sparql/mondo_stats/COUNT-cancer-diseases.sparql
  src/sparql/mondo_stats/COUNT-classes-with-definitions.sparql
  src/sparql/mondo_stats/COUNT-classes.sparql
  src/sparql/mondo_stats/COUNT-disease-classes.sparql
  src/sparql/mondo_stats/COUNT-exact-synonyms.sparql
  src/sparql/mondo_stats/COUNT-hereditary-diseases.sparql
  src/sparql/mondo_stats/COUNT-infectious-diseases.sparql
  src/sparql/mondo_stats/COUNT-narrow-synonyms.sparql
  src/sparql/mondo_stats/COUNT-rare-diseases-classes.sparql
  src/sparql/mondo_stats/COUNT-related-synonyms.sparql
  src/sparql/mondo_stats/COUNT-xrefs.sparql
Owners: @matentzn, @twhetzel

MONDO:omim_formerly - Update: f-endities.md with an entry for MONDO:omim_formerly
  docs/editors-guide/f-entities.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Externally Managed Content - bug fix - Bug fix: Removed refs to a file that currently does not exist.
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Apply suggestions from code review
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

rename variable, use .PHONY before individual goal
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

style change for consistency
  src/sparql/mondo_stats/COUNT-xrefs.sparql
Owners: @twhetzel

Add Makefile goal to create mondo stats (#8233)
  src/ontology/mondo.Makefile
  src/sparql/mondo_stats/COUNT-broad-synonyms.sparql
  src/sparql/mondo_stats/COUNT-cancer-diseases.sparql
  src/sparql/mondo_stats/COUNT-classes-with-definitions.sparql
  src/sparql/mondo_stats/COUNT-classes.sparql
  src/sparql/mondo_stats/COUNT-exact-synonyms.sparql
  src/sparql/mondo_stats/COUNT-hereditary-diseases.sparql
  src/sparql/mondo_stats/COUNT-infectious-diseases.sparql
  src/sparql/mondo_stats/COUNT-narrow-synonyms.sparql
  src/sparql/mondo_stats/COUNT-rare-diseases-classes.sparql
  src/sparql/mondo_stats/COUNT-related-synonyms.sparql
  src/sparql/mondo_stats/COUNT-xrefs.sparql
Owners: @matentzn, @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/index.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update outreach page
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

comment out reviewer field
  .github/workflows/external_content.yaml
  .github/workflows/merge_template.yml
  .github/workflows/obsoletes.yaml
  .github/workflows/omim-genes.yaml
  .github/workflows/subclass.yaml
Owners: @sabrinatoro, @twhetzel

Externally Managed Content - bug fix (#8236)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

MONDO:omim_formerly - Update: Added example to entry in f-entities.md
  docs/editors-guide/f-entities.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add epilepsy workshop to outreach page
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

create page for Epilepsy workshop (#8260)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

rename section header
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update imports
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
Owners: @sabrinatoro, @twhetzel

refresh imports 22-oct-2024
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
Owners: @sabrinatoro, @twhetzel

Adding a pipeline to update confirmed synonyms in Mondo
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Adding a Github workflow to update synonyms from Mondo Ingest
  .github/workflows/synonyms.yaml
Owners: @sabrinatoro, @twhetzel

refresh again with updates to manual seed file
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/go_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/pato_terms.txt
Owners: @sabrinatoro, @twhetzel

refresh imports 22-oct-2024 (#8264)
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/go_terms.txt
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/pato_terms.txt
Owners: @sabrinatoro, @twhetzel

add docs on how to get mondo stats
  docs/editors-guide/mondo-content-statistics.md
  mkdocs.yml
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add funding statement
  index.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add funding statement (#8283)
  index.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add docs on how to get mondo stats (#8282)
  docs/editors-guide/mondo-content-statistics.md
  mkdocs.yml
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add recording to epilepsy workshop page
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky
