Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

change tmp dir ref to $(TMPDIR)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fix qc-proxy-merges query for ROBOT report (#8091)
  src/sparql/qc/mondo/qc-proxy-merges.sparql
Owners: @twhetzel

Run make update external content - update mondo-edit.obo (#8084)
  src/ontology/mondo.Makefile
  src/sparql/reports/count-subsets.sparql
Owners: @matentzn, @twhetzel

Fixing NORD URL
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Refactor pipeline to allow simulating EMC runs
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fix the GARD goal
  src/ontology/mondo.Makefile
  src/sparql/update/insert-gard-obsoletion-status.ru
Owners: @matentzn, @twhetzel, @sabrinatoro

Add all rare subsets to Animal rare QC check
  src/sparql/qc/mondo/qc-animal-disease-rare.sparql
Owners: @twhetzel

Update subclass.yaml
  .github/workflows/subclass.yaml
Owners: @sabrinatoro, @twhetzel

Update Animal disease queries to have the subset as the value instead of property
  src/sparql/qc/mondo/qc-animal-disease-rare.sparql
  src/sparql/reports/excluded-synonyms.sparql
Owners: @twhetzel

Allow subclass.yaml sync to create a PR even if QC fails
  .github/workflows/subclass.yaml
Owners: @sabrinatoro, @twhetzel

added obsoletion protection (#8077)
  src/sparql/qc/mondo/qc-obsoletionprotected.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/OMIM_disease_series_by_gene.md
  docs/editors-guide/patterns/OMIM_phenotypic_series.md
  docs/editors-guide/patterns/disease_series_by_gene.md
  docs/editors-guide/patterns/disease_series_by_gene_and_inheritance.md
  docs/editors-guide/patterns/index.md
  docs/editors-guide/patterns/nonhuman_disease_series_by_gene.md
  docs/editors-guide/quality-control-tests.md
  src/patterns/dosdp-pattern.owl
  src/patterns/dosdp-patterns/README.md
  src/patterns/imports/seed_sorted.txt
  src/patterns/pattern-merged.owl
  src/patterns/pattern-simple.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Create RD subset pipeline (#8095)
  src/ontology/mondo.Makefile
  src/sparql/construct/construct-orphanet-rare-subset.sparql
  src/sparql/construct/construct-rare-subset.sparql
  src/sparql/qc/mondo/qc-animal-disease-rare.sparql
  src/sparql/reports/excluded-synonyms.sparql
  src/sparql/update/insert-gard-obsoletion-status.ru
Owners: @matentzn, @twhetzel, @sabrinatoro

Create single pipeline for EMC and RD pipelines
  .github/workflows/external_content.yaml
Owners: @sabrinatoro, @twhetzel

Change reference branch in external_content.yaml
  .github/workflows/external_content.yaml
Owners: @sabrinatoro, @twhetzel

Add obsoletion status update Action
  .github/workflows/obsoletes.yaml
  src/ontology/mondo.Makefile
Owners: @sabrinatoro, @twhetzel, @matentzn

Hot fix deprecation fixer
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Create omim-genes.yaml
  .github/workflows/omim-genes.yaml
Owners: @sabrinatoro, @twhetzel

Adding draft pipeline for updating OMIM genes relations
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Add pipeline for updating logical definitions
  src/ontology/mondo.Makefile
  src/sparql/update/omim-gene-equivalence.ru
Owners: @matentzn, @twhetzel, @sabrinatoro

very minor changes to doc for better searching of goals
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Change EMC update source branch to master
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update src/ontology/mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Add comment about mondo genes being too aggresively removed
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

very minor changes to doc for better searching of goals (#8114)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

add presentations for 2023, 2024
  _pages/resources.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add icd11 foundation as a source for mondo
  _pages/sources.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add link to tagged releases for Mondo stats
  index.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

ran sh run.sh make prepare_release_direct
  components/mondo-tags.owl
  imports/equivalencies.obo
  reports/class-count-by-prefix.tsv
  reports/class-stats.tsv
  reports/obsoletes.tsv
  reports/obsoletion-candidates.tsv
  reports/root-classes.tsv
  reports/superclass-count.tsv
  reports/xrefs.tsv
  subsets/mondo-rare_edges.tsv
Owners: @sabrinatoro, @twhetzel

update release document
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update release.md
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

updated based on comments
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update release document (#8128)
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add information on EMC QC checks
  docs/editors-guide/externally-managed-content.md
  mkdocs.yml
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

17sep2024 refresh of imports
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
Owners: @sabrinatoro, @twhetzel

17sep2024 refresh of imports (#8172)
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
Owners: @sabrinatoro, @twhetzel

pattern for disease caused by one of multiple genes
  src/patterns/dosdp-patterns/disease_series_by_groupofgenes.yaml
Owners: @sabrinatoro, @twhetzel

outreach updates
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add description of qc errors
  docs/editors-guide/externally-managed-content.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user
