Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user

updated workflow to use bot token
  .github/workflows/ontobot.yaml
Owners: @sabrinatoro, @twhetzel

fix typo on website
  _pages/resources.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

changes after refresh imports
  src/ontology/imports/go_terms.txt
  src/ontology/imports/hp_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
Owners: @sabrinatoro, @twhetzel

Update child term to resolve QC failure
  src/ontology/components/mondo-tags.owl
Owners: @sabrinatoro, @twhetzel

Adding obsoletion tag
  src/sparql/reports/obsoletiontagcheck.sparql
Owners: @twhetzel

Add ncbigene pipeline with new source (#7857)
  src/ontology/Makefile
  src/ontology/imports/go_terms.txt
  src/ontology/imports/hp_terms.txt
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
Owners: @matentzn, @twhetzel, @sabrinatoro

Schistosoma mansoni infection, susceptibility/resistance [Merge] #7352 (#7877)
  src/ontology/components/mondo-tags.owl
Owners: @sabrinatoro, @twhetzel

Adding obsoletion tag (#7882)
  src/sparql/reports/obsoletiontagcheck.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/index.md
  docs/editors-guide/patterns/realized_in_response_to_environmental_exposure.md
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Add QC check and report for ClinGen labels (#7244)
  src/sparql/qc/mondo/qc-clingen.sparql
  src/sparql/reports/clingen-preferred-label.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

add recording link
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Order the output of xref and synonym SPARQL queries
  src/sparql/reports/synonyms.sparql
  src/sparql/reports/xrefs.sparql
Owners: @twhetzel

Update changes.md with report from the July release
  Changes.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

fix typos
  docs/editors-guide/f-entities.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

change header to match monarch web site color
  docs/style.css
  mkdocs.yml
Owners: action@github.com, @sabrinatoro, @twhetzel

Add the dbcls Mondo Japanese translation to build
  src/ontology/mondo.Makefile
  src/translations/mondo-all.babelon.json
  src/translations/mondo-all.babelon.tsv
  src/translations/mondo-jp-changed.babelon.tsv
  src/translations/mondo-jp-not-translated.babelon.tsv
  src/translations/mondo-jp-preprocessed.babelon.tsv
Owners: @matentzn, @twhetzel, @sabrinatoro

Fix some more record in babelon file
  src/translations/mondo-jp-not-translated.babelon.tsv
Owners: @sabrinatoro, @twhetzel

Add provisional mondo-international goal to
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

update japanese translation and oak adapter
  src/ontology/mondo.Makefile
  src/translations/mondo-jp-changed.babelon.tsv
  src/translations/mondo-jp-not-translated.babelon.tsv
Owners: @matentzn, @twhetzel, @sabrinatoro

Update hgnc import goal
  src/ontology/Makefile
  src/ontology/imports/hgnc_import.owl
Owners: @matentzn, @twhetzel, @sabrinatoro

Ontobot can now read commands from issue comments (#7869)
  .github/workflows/ontobot.yaml
Owners: @sabrinatoro, @twhetzel

Fix typos and change Header background color (#7927)
  docs/editors-guide/f-entities.md
  docs/style.css
  mkdocs.yml
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, action@github.com

add qc check for cycles
  src/sparql/qc/general/qc-cycles.sparql
Owners: @twhetzel

add goals to generate a mapping change diff report
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

add qc check for cycles (#7961)
  src/sparql/qc/general/qc-cycles.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/index.md
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Add first draft of Matrix disease list
  src/ontology/mondo.Makefile
  src/sparql/reports/matrix-disease-list.sparql
Owners: @matentzn, @twhetzel

Update mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update src/ontology/mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update src/ontology/mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update src/ontology/mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update Matrix disease list method
  src/sparql/reports/matrix-disease-list.sparql
Owners: @twhetzel

Remove mondo-with-equivalents and mondo-minimal from release
  src/ontology/Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update release document
  docs/developer-guide/release.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Add QC looking for xrefs to OMIM genes
  src/ontology/mondo.Makefile
  src/sparql/reports/omim-genes.sparql
Owners: @matentzn, @twhetzel

Fix ODK version in Mondo to 1.5.2
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel

Fixing the pull to the specific docker version used
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel
