Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user

resolve qc error with new sparql query on roundtrip check
  src/ontology/Makefile
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @matentzn, @twhetzel

remove unused prefix
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @twhetzel

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

Add QC check for multiple gene associations (#8328)
  src/ontology/Makefile
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @matentzn, @twhetzel

remove duplicate entries
  src/ontology/imports/manual_seed.txt
Owners: @sabrinatoro, @twhetzel

refresh imports from 6Jan2024
  src/ontology/imports/ncbitaxon_terms.txt
  src/sparql/construct/construct-ncbigene.sparql
Owners: @sabrinatoro, @twhetzel

Refresh imports from 6Jan2024 (#8540)
  src/ontology/imports/manual_seed.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/sparql/construct/construct-ncbigene.sparql
Owners: @sabrinatoro, @twhetzel

add additional deprecation merge patterns (#8526)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

remove pip install command, command fails and tabulate is in ODK
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

remove pip install command, command fails and tabulate is in ODK (#8551)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

add Feb outreach call details
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Create harrison-view.sparql
  src/sparql/reports/harrison-view.sparql
Owners: @twhetzel

breaking the pr again so the error can be fixed
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

add harrison subset (#8553)
  src/sparql/reports/harrison-view.sparql
Owners: @twhetzel

Test PR for adding synonyms - v2 - Updated wget URL for files using a mondo-ingest feature branch
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

WIP
  src/ontology/analysis/analyze_mondo_stats/.gitignore
  src/ontology/analysis/analyze_mondo_stats/README.md
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_with_EMC_xref.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_with_xref-equivalentTo.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_with_xref.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_exact_synonyms.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_human_disease_mondo_classes_rare.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_human_disease_mondo_classes_rare_and_gene_associations.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_mondo_class_list_with_ncit_xref-equivalentTo.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/get_mondo_class_list_with_ncit_xref.ru
  src/ontology/analysis/analyze_mondo_stats/sparql/ncit_neoplasm_children.ru
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Add all of Nicos notebooks
  src/scripts/notebooks/Makefile
  src/scripts/notebooks/README.md
  src/scripts/notebooks/candidate_mappings.tsv
  src/scripts/notebooks/mondo_ai_curation.ipynb
  src/scripts/notebooks/mondo_mappings_exact_source_with_matches.tsv
  src/scripts/notebooks/mondo_paper_plots.ipynb
  src/scripts/notebooks/mondo_rd_paper.ipynb
  src/scripts/notebooks/mondo_subsets.csv
  src/scripts/notebooks/mondo_synonyms.csv
  src/scripts/notebooks/odk.sh
  src/scripts/notebooks/poetry.lock
  src/scripts/notebooks/pyproject.toml
  src/scripts/notebooks/reviewed_mappings.tsv
  src/scripts/notebooks/sssom_pydantic.py
Owners: @matentzn, @twhetzel, @sabrinatoro, @nicolevasilevsky

update README for synonym count data
  src/ontology/analysis/analyze_mondo_stats/README.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add more synonym stats results
  src/ontology/analysis/analyze_mondo_stats/README.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add stats on Preferred Labels
  src/ontology/analysis/analyze_mondo_stats/README.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add analysis notebook
  src/ontology/analysis/analyze_mondo_stats/Overall Mondo Stats.ipynb
Owners: @sabrinatoro, @twhetzel

Test PR for adding synonyms - v3 - qc-duplicate-exact-synonym-no-abbrev - Updated wget URL for files using a mondo-ingest feature branch
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Add report for reviewing proxy merges
  src/sparql/reports/review-proxy-merges.sparql
Owners: @twhetzel

Add report for reviewing proxy merges (#8579)
  src/sparql/reports/review-proxy-merges.sparql
Owners: @twhetzel

add query to get Orphanet counts for specific subsets
  src/ontology/analysis/analyze_mondo_stats/README.md
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_with_xref_ORDO-disorder-subtypes.ru
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add new query to get count of xref to Orphanet terms that are in the disease or disorder subtype
  src/ontology/analysis/analyze_mondo_stats/README.md
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_with_xref-equivalentTo_ORDO-disorders-subtypes.ru
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add clarifying details
  src/ontology/analysis/analyze_mondo_stats/Overall Mondo Stats.ipynb
  src/ontology/analysis/analyze_mondo_stats/README.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add new query
  src/ontology/analysis/analyze_mondo_stats/sparql/get_mondo_classes_for_specific_xrefs.ru
Owners: @sabrinatoro, @twhetzel

update epilepsy workshop info
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

updated the header in line 9
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

revised header in line 9
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update header for epilepsy workshop
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

modify subclass sync,keep non-neoplasm NCIT subclass source prov as MONDO:notVerified
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

update header for epilepsy workshop (#8596)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

add 2025 header and link to topic
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

refactor query
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_with_xref_ORDO-disorder-subtypes.ru
Owners: @sabrinatoro, @twhetzel

add query for ORDO synonyms in subsets
  src/ontology/analysis/analyze_mondo_stats/sparql/get_exact_synonyms_ORDO-subsets.ru
Owners: @sabrinatoro, @twhetzel

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel
