Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

add sorting to qc-gene-identifier-mismatch query
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
Owners: @twhetzel

add query description
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
Owners: @twhetzel

re-name existing query for mult gene associations
  src/sparql/qc/mondo/qc-multiple-gene-associations-ORIG.sparql
Owners: @twhetzel

test refactor qc-multiple-gene-associations to account for mondo-base namespace
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @twhetzel

update select in qc-gene-identifier-mismatch query
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
Owners: @twhetzel

modify qc-gene-identifier-mismatch.sparql and keep copy of Original
  src/sparql/qc/mondo/qc-gene-identifier-mismatch-ORIG.sparql
Owners: @twhetzel

refresh imports from 24Nov2024
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/sparql/construct/construct-ncbigene.sparql
Owners: @sabrinatoro, @twhetzel

refresh imports from 24Nov2024 (#8438)
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/manual_seed.txt
  src/sparql/construct/construct-ncbigene.sparql
Owners: @sabrinatoro, @twhetzel

Update OMIM gene references in Mondo (#8108)
  src/ontology/mondo.Makefile
  src/sparql/update/omim-gene-equivalence.ru
Owners: @matentzn, @twhetzel, @sabrinatoro

add epilepsy workshop recording
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

fix typo
  index.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add epilepsy workshop recording (#8446)
  _pages/workshop.md
  index.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add new qc check
  src/sparql/qc/mondo/qc-germline-somatic-gene-associations.sparql
Owners: @twhetzel

Add qc check so Mondo class does not have both somatic and germline gene associations (#8448)
  src/sparql/qc/mondo/qc-germline-somatic-gene-associations.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Test PR for adding synonyms
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

add link to slides for outreach call
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add link to slides for outreach call (#8474)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update DOSDP template and SPARQL qc documentation
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel

add part 3 workshop to the website
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add dates for the epilepsy workshop part 3
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Epilepsy workshop 2024 12 03 (#8479)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update workshop page
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update ODK, actions/checkout, and create-pull-request versions
  .github/workflows/diff.yaml
  .github/workflows/docs.yaml
  .github/workflows/external_content.yaml
  .github/workflows/main.yaml
  .github/workflows/merge_template.yml
  .github/workflows/obsoletes.yaml
  .github/workflows/omim-genes.yaml
  .github/workflows/ontobot.yaml
  .github/workflows/subclass.yaml
  .github/workflows/synonyms.yaml
Owners: @sabrinatoro, @twhetzel

update ODK, actions/checkout, and create-pull-request versions (#8486)
  .github/workflows/diff.yaml
  .github/workflows/docs.yaml
  .github/workflows/external_content.yaml
  .github/workflows/main.yaml
  .github/workflows/merge_template.yml
  .github/workflows/obsoletes.yaml
  .github/workflows/omim-genes.yaml
  .github/workflows/ontobot.yaml
  .github/workflows/subclass.yaml
  .github/workflows/synonyms.yaml
Owners: @sabrinatoro, @twhetzel

Update to ODK 1.5.4
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel

update imports page
  docs/editors-guide/imports.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

WIP
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

remove gard from obsoletion workflow
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

remove gard from obsoletion workflow (#8507)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

NCIT subclass neoplasm analysis - Verifying that what remains is what is expected. - Add: Initial goal and SPARQL query
  src/ontology/mondo.Makefile
  src/sparql/reports/ncit-exact-xrefs-and-subclass-evidence.sparql
Owners: @matentzn, @twhetzel

NCIT subclass neoplasm analysis - Update: Add NCIT filtering - Bug fix: Some other conditions - Add: Output - Update: Goal & SPARQL & TSV names
  src/ontology/mondo.Makefile
  src/ontology/ncit-xrefs-and-subclass-evidence.tsv
  src/sparql/reports/ncit-exact-xrefs-and-subclass-evidence.sparql
  src/sparql/reports/ncit-xrefs-and-subclass-evidence.sparql
Owners: @matentzn, @twhetzel, @sabrinatoro

WIP
  docs/editors-guide/import-terms-for-logical-axioms.md
  docs/editors-guide/imports.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add additional deprecation merge patterns
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

WIP
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Refactor subset dir variable which was missing
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Draft ClinGen subset pipeline
  src/ontology/Makefile
  src/sparql/signature/clingen-subset.sparql
  src/sparql/update/clingen-labels.ru
Owners: @matentzn, @twhetzel, @sabrinatoro

Update .gitignore
  .gitignore
Owners: @sabrinatoro, @twhetzel

Update documentation for refreshing imports (#8528)
  docs/editors-guide/import-terms-for-logical-axioms.md
  docs/editors-guide/imports.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

remove test sparql files
  src/sparql/qc/mondo/qc-gene-identifier-mismatch-ORIG.sparql
  src/sparql/qc/mondo/qc-multiple-gene-associations-ORIG.sparql
Owners: @twhetzel

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user
