Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

update odk version to 1.5.3
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel

Adds a QC check that looks for cases where excluded subclassof axioms are asserted
  src/sparql/qc/mondo/qc-excluded-subclass-is-asserted.sparql
Owners: @twhetzel

Update a few descriptions of excluded-subclass-of related checks
  src/sparql/qc/general/qc-excluded-subclass.sparql
  src/sparql/qc/general/qc-provenance-missing.sparql
  src/sparql/qc/mondo/qc-excluded-subsumption-is-inferred.sparql
Owners: @twhetzel

Update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add recording to epilepsy workshop page (#8286)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

fix formating for epilepsy workshop
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

fix formating for epilepsy workshop (#8300)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Revert to master
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Refactor synonym sync pipeline
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fix copy paste error in synonym sync pipeline
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

update odk version to 1.5.3 (#8289)
  src/ontology/run.sh
Owners: @sabrinatoro, @twhetzel

Update ODK version number in .github/workflows/synonyms.yaml
  .github/workflows/synonyms.yaml
Owners: @sabrinatoro, @twhetzel

Extract only the relevant gene entries from ncbigene dump
  src/ontology/Makefile
  src/sparql/construct/construct-ncbigene.sparql
  src/sparql/construct/construct-ncbigene.sparql.template
Owners: @matentzn, @twhetzel, @sabrinatoro

init qc checks
  src/sparql/qc/mondo/qc-multiple-equivalentTo-gene-associations.sparql
  src/sparql/qc/mondo/qc-multiple-subclassOf-gene-associations.sparql
Owners: @twhetzel

update queries
  src/sparql/qc/mondo/qc-multiple-equivalentTo-gene-associations.sparql
  src/sparql/qc/mondo/qc-multiple-subclassOf-gene-associations.sparql
Owners: @twhetzel

remove individual queries
  src/sparql/qc/mondo/qc-multiple-equivalentTo-gene-associations.sparql
  src/sparql/qc/mondo/qc-multiple-subclassOf-gene-associations.sparql
Owners: @twhetzel

add combined query for mult gene associations
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @twhetzel

add qc check for mismatched gene identifiers
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
Owners: @twhetzel

remove has_material_basis_in_germline_mutation_in only where OMIM is the source
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Extract only the relevant gene entries from ncbigene dump (#8325)
  src/ontology/Makefile
  src/sparql/construct/construct-ncbigene.sparql
  src/sparql/construct/construct-ncbigene.sparql.template
Owners: @matentzn, @twhetzel, @sabrinatoro

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/index.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Adding the pipeline for synchronising confirmed synonym evidence (#8269)
  .github/workflows/synonyms.yaml
  src/ontology/mondo.Makefile
Owners: @sabrinatoro, @twhetzel, @matentzn

update epilepsy workshop details
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

exclude obsolete terms from this qc check
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

MONDO:omimFormerly - Update: Changed to camel case - Update: Changed verbiage (thanks @sabrinatoro)
  docs/editors-guide/f-entities.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

exclude obsolete terms from this qc check (#8417)
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update epilepsy workshop details (#8413)
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update OMIM refresh pipeline
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fix URL for synonym sync updates
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fix subclass of sync
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Fix URL for synonym sync updates (#8430)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

rm quick check from build
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

rm quick check from build (#8433)
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Fix subclass of sync (#8431)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

add exclusion clause
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @twhetzel

modify query
  src/sparql/qc/mondo/qc-multiple-gene-associations.sparql
Owners: @twhetzel

add filter for exclusion to query
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
Owners: @twhetzel

Change EMC update source branch to m̶a̶s̶t̶e̶r̶ main (#8117)
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

re-write query to handle multiple gene associations
  src/sparql/qc/mondo/qc-gene-identifier-mismatch.sparql
Owners: @twhetzel

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user
