Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user

add check for omim gene entries used as xrefs (#8020)
  src/ontology/mondo.Makefile
  src/sparql/reports/omim-genes.sparql
Owners: @matentzn, @twhetzel

Remove mondo-with-equivalents and mondo-minimal from release (#7979)
  src/ontology/Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Add QC check for proper treatment of preferredExternal annotations (#8012)
  src/sparql/qc/general/qc-xref-without-source.sparql
  src/sparql/qc/mondo/qc-preferred-external-no-equivalent.sparql
Owners: @twhetzel

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

Add Mondo external content pipeline draft
  src/ontology/mondo.Makefile
  src/sparql/reports/count-subsets.sparql
Owners: @matentzn, @twhetzel

update pattern to include taxon information
  src/patterns/dosdp-patterns/nonhuman_disease_series_by_gene.yaml
Owners: @sabrinatoro, @twhetzel

removed General class axioms, disjoint
  src/ontology/imports/axioms.owl
Owners: @sabrinatoro, @twhetzel

merged pseudohypoaldosteronism, type I and ~type1
  src/ontology/components/mondo-tags.owl
Owners: @sabrinatoro, @twhetzel

Create external_content.yaml
  .github/workflows/external_content.yaml
Owners: @sabrinatoro, @twhetzel

Update external_content.yaml
  .github/workflows/external_content.yaml
Owners: @sabrinatoro, @twhetzel

Extend self loop check to all properties
  src/sparql/qc/general/qc-cycles.sparql
Owners: @twhetzel

Remove all rare / common axioms in Mondo
  src/ontology/imports/axioms.owl
Owners: @sabrinatoro, @twhetzel

Remove all rare / common axioms in Mondo (#8048)
  src/ontology/imports/axioms.owl
Owners: @sabrinatoro, @twhetzel

Adding mondo-with-equivalents back
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

updates to have ICD11 and EFO entries in the mondo.sssom.tsv file
  src/ontology/Makefile
  src/ontology/metadata/mondo.sssom.config.yml
  src/utils/mk-skos.pl
Owners: @matentzn, @twhetzel, @sabrinatoro

Xrefs on axioms and most annotation assertions should use oio:source
  src/sparql/qc/general/qc-axiom-provenance-source.sparql
Owners: @twhetzel

Fixed qc-axiom-provenance-source.sparql to include all cases
  src/sparql/qc/general/qc-axiom-provenance-source.sparql
Owners: @twhetzel

updates to have ICD11 and EFO entries in the mondo.sssom.tsv file (#8054)
  src/ontology/Makefile
  src/ontology/metadata/mondo.sssom.config.yml
  src/utils/mk-skos.pl
Owners: @matentzn, @twhetzel, @sabrinatoro

Update Mondo diff reports
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

merged pseudohypoaldosteronism, type I and ~type1 (#8032)
  src/ontology/components/mondo-tags.owl
Owners: @sabrinatoro, @twhetzel

Xrefs on axioms and most annotation assertions should use oio:source (#8056)
  src/sparql/qc/general/qc-axiom-provenance-source.sparql
Owners: @twhetzel

Update DOSDP template and SPARQL qc documentation
  docs/editors-guide/patterns/index.md
  docs/editors-guide/quality-control-tests.md
  src/patterns/pattern-merged.owl
  src/patterns/pattern-with-imports.owl
  src/patterns/pattern.owl
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Extend self loop check to all properties (#8040)
  src/sparql/qc/general/qc-cycles.sparql
Owners: @twhetzel

update SO for gene and typo
  src/patterns/dosdp-patterns/disease_series_by_gene.yaml
  src/patterns/dosdp-patterns/nonhuman_disease_series_by_gene.yaml
Owners: @sabrinatoro, @twhetzel

nonhuman genetic disease pattern (#7794)
  src/patterns/dosdp-patterns/OMIM_disease_series_by_gene.yaml
  src/patterns/dosdp-patterns/OMIM_phenotypic_series.yaml
  src/patterns/dosdp-patterns/disease_series_by_gene.yaml
  src/patterns/dosdp-patterns/disease_series_by_gene_and_inheritance.yaml
  src/patterns/dosdp-patterns/nonhuman_disease_series_by_gene.yaml
Owners: @sabrinatoro, @twhetzel

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

Update diff.yaml to ODK 1.5.2
  .github/workflows/diff.yaml
Owners: @sabrinatoro, @twhetzel

Update main.yaml to use latest ODK 1.5.2
  .github/workflows/main.yaml
Owners: @sabrinatoro, @twhetzel

Update mondo-idranges.owl
  src/ontology/mondo-idranges.owl
Owners: @sabrinatoro, @twhetzel

Update mondo-idranges.owl
  src/ontology/mondo-idranges.owl
Owners: @sabrinatoro, @twhetzel

Create QC check
  src/sparql/qc/mondo/qc-obsoletionprotected.sparql
Owners: @twhetzel

Update mondo-idranges.owl (#8079)
  src/ontology/mondo-idranges.owl
Owners: @sabrinatoro, @twhetzel

Update mondo.Makefile
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

updated QC-sparql as requested
  src/sparql/qc/mondo/qc-obsoletionprotected.sparql
Owners: @twhetzel

Run make update external content - update mondo-edit.obo (#8084)
  src/ontology/mondo.Makefile
  src/sparql/reports/count-subsets.sparql
Owners: @matentzn, @twhetzel

Fix qc-proxy-merges query for ROBOT report
  src/sparql/qc/mondo/qc-proxy-merges.sparql
Owners: @twhetzel

Create RD subset pipeline
  src/ontology/mondo.Makefile
  src/sparql/construct/construct-orphanet-rare-subset.sparql
  src/sparql/construct/construct-rare-subset.sparql
Owners: @matentzn, @twhetzel

Fix qc-proxy-merges query for ROBOT report (#8091)
  src/sparql/qc/mondo/qc-proxy-merges.sparql
Owners: @twhetzel

Remove redundant subsets/mondo-rare.kgx.tsv
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

change dir ref from tmp to $(TMPDIR) for Rare Subset and EMC goals
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel
