Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user

added new property to the qc-permitted-properties.sparql
  src/sparql/qc/general/qc-permitted-properties.sparql
Owners: @twhetzel

Update qc-permitted-properties.sparql
  src/sparql/qc/general/qc-permitted-properties.sparql
Owners: @twhetzel

Add clingen-otar-ordo pipeline
  src/ontology/mondo.Makefile
  src/ontology/subsets/clingen.template.tsv
Owners: @matentzn, @twhetzel, @sabrinatoro

Update qc-permitted-properties.sparql
  src/sparql/qc/general/qc-permitted-properties.sparql
Owners: @twhetzel

Change the if of curated content resource to the usual format
  src/sparql/qc/general/qc-permitted-properties.sparql
Owners: @twhetzel

Update qc-permitted-properties.sparql to reflect correct property id
  src/sparql/qc/general/qc-permitted-properties.sparql
Owners: @twhetzel

Add curated content resource property (#7792)
  src/sparql/qc/general/qc-permitted-properties.sparql
Owners: @twhetzel

initial review
  src/scripts/notebooks/clinvar-udn-submission-analysis/Analyze-ClinVar-UDN-Submissions.ipynb
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/input/README.md
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/input/clinvar_result.txt
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/input/clinvar_udn_submissions.xlsx
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/README.md
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/clinvar_no_mondo.tsv
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/clinvar_udn_submissions-no_mondo.tsv
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/unique_conditions_df
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

nonhuman genetic disease pattern
  src/patterns/dosdp-patterns/OMIM_disease_series_by_gene.yaml
  src/patterns/dosdp-patterns/OMIM_phenotypic_series.yaml
  src/patterns/dosdp-patterns/disease_series_by_gene_and_inheritance.yaml
  src/patterns/dosdp-patterns/nonhuman_disease_series_by_gene.yaml
Owners: @sabrinatoro, @twhetzel

add result file with only disease name column
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/clinvar_udn_submissions-no_mondo-disease_name_only.txt
Owners: @sabrinatoro, @twhetzel

add example for case insensitive search (label only)
  src/scripts/notebooks/clinvar-udn-submission-analysis/Analyze-ClinVar-UDN-Submissions.ipynb
Owners: @sabrinatoro, @twhetzel

Add pipeline to import MedGen
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update rare disease subset pipeline
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Update analysis notebooks
  src/scripts/notebooks/mondo_paper_plots.ipynb
  src/scripts/notebooks/mondo_rd_paper.ipynb
  src/scripts/notebooks/mondo_subsets.csv
  src/scripts/notebooks/mondo_synonyms.csv
Owners: @sabrinatoro, @twhetzel

Update src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

Create first draft of subclass sync
  .github/workflows/subclass.yaml
  src/ontology/mondo.Makefile
Owners: @sabrinatoro, @twhetzel, @matentzn

mondo-edit based subclass sync
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

Add simple pipeline to update genes from OMIM
  src/ontology/mondo.Makefile
Owners: @matentzn, @twhetzel

remove MedGenIDMappings.txt and fetch in noteboook
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/tmp/.gitignore
Owners: @sabrinatoro, @twhetzel

remove MedGenIDMappings.txt and fetch in noteboook to gitignored tmp dir
  src/scripts/notebooks/clinvar-udn-submission-analysis/Analyze-ClinVar-UDN-Submissions.ipynb
Owners: @sabrinatoro, @twhetzel

update description of notebook
  src/scripts/notebooks/clinvar-udn-submission-analysis/Analyze-ClinVar-UDN-Submissions.ipynb
Owners: @sabrinatoro, @twhetzel

Initial review of ClinVar submissions (#7796)
  src/scripts/notebooks/clinvar-udn-submission-analysis/Analyze-ClinVar-UDN-Submissions.ipynb
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/input/README.md
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/input/clinvar_result.txt
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/input/clinvar_udn_submissions.xlsx
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/README.md
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/clinvar_no_mondo.tsv
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/clinvar_udn_submissions-no_mondo-disease_name_only.txt
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/clinvar_udn_submissions-no_mondo.tsv
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/output/unique_conditions_df
  src/scripts/notebooks/clinvar-udn-submission-analysis/data/tmp/.gitignore
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Add basic mondo ai agent pipeline
  .gitignore
  src/scripts/notebooks/Makefile
  src/scripts/notebooks/README.md
  src/scripts/notebooks/candidate_mappings.tsv
  src/scripts/notebooks/mondo_ai_curation.ipynb
  src/scripts/notebooks/mondo_mappings_exact_source_with_matches.tsv
  src/scripts/notebooks/poetry.lock
  src/scripts/notebooks/pyproject.toml
  src/scripts/notebooks/reviewed_mappings.tsv
  src/scripts/notebooks/sssom_pydantic.py
Owners: @sabrinatoro, @twhetzel, @matentzn, @nicolevasilevsky

Update qc-clingen.sparql
  src/sparql/qc/mondo/qc-clingen.sparql
Owners: @twhetzel

Update src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
  src/sparql/qc/mondo/qc-ordo-subset-exact-mapping.sparql
Owners: @twhetzel

Update .gitignore to add file in notebook dir
  .gitignore
Owners: @sabrinatoro, @twhetzel

Fix mismatched parentheses in QC check
  src/sparql/qc/general/qc-xref-without-source.sparql
Owners: @twhetzel

Add ncbigene pipeline with new source
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Update manual_seed.txt
  src/ontology/imports/manual_seed.txt
Owners: @sabrinatoro, @twhetzel

update manual_seed with all non-human genes needed
  src/ontology/imports/manual_seed.txt
Owners: @sabrinatoro, @twhetzel

update workshop.md
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update disease-naming.md
  _pages/disease-naming.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

add contributors
  _pages/contributors.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Fix mismatched parentheses in QC check and update mondo xrefs (#7830)
  src/sparql/qc/general/qc-xref-without-source.sparql
Owners: @twhetzel

Update Makefile
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

Ontobot can now read commands from issue comments
  .github/workflows/ontobot.yaml
Owners: @sabrinatoro, @twhetzel

unpinned version
  .github/workflows/ontobot.yaml
Owners: @sabrinatoro, @twhetzel

added ontobot token
  .github/workflows/ontobot.yaml
Owners: @sabrinatoro, @twhetzel

Adding ID Range
  src/ontology/mondo-idranges.owl
Owners: @sabrinatoro, @twhetzel

Adding ID Range (#7875)
  src/ontology/mondo-idranges.owl
Owners: @sabrinatoro, @twhetzel
