Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @joeflack4, @twhetzel, @matentzn, action@github.com

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro
*.sparql @joeflack4 @twhetzel
*.py	  @joeflack4 @twhetzel
*.md    @sabrinatoro @twhetzel
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user

Update medgen_conflicts_add_xrefs.py
  src/scripts/medgen_conflicts_add_xrefs.py
Owners: @joeflack4, @twhetzel

Update medgen_conflicts_add_xrefs.py
  src/scripts/medgen_conflicts_add_xrefs.py
Owners: @joeflack4, @twhetzel

Update templates
  src/templates/ROBOT_addMedGen_fromConflictResolution.tsv
  src/templates/ROBOT_addMedGen_fromIngest.tsv
Owners: @sabrinatoro

Update Changes.md (#7032)
  Changes.md
Owners: @sabrinatoro, @twhetzel

add link to presentation
  _pages/workshop.md
Owners: @sabrinatoro, @twhetzel

../docs/editors-guide/pre-release-checklist.md
  docs/editors-guide/pre-release-checklist.md
Owners: @sabrinatoro, @twhetzel

Repair UMLS conflicts in Mondo. (#6560)
  requirements-unlocked.txt
  src/ontology/mondo.Makefile
  src/scripts/medgen_conflicts_add_xrefs.py
  src/scripts/medgen_conflicts_add_xrefs_diff_analysis.py
  src/scripts/medgen_conflicts_removals.py
  src/scripts/medgen_conflicts_removals_diff_analysis.py
  src/templates/ROBOT_addMedGen_fromConflictResolution.tsv
  src/templates/ROBOT_addMedGen_fromIngest.tsv
Owners: @sabrinatoro, @matentzn, @twhetzel, @joeflack4

Fix HGNC mirror
  src/ontology/Makefile
Owners: @matentzn, @twhetzel

add new genes
  src/ontology/imports/hgnc_terms.txt
Owners: @sabrinatoro

update documentation
  docs/editors-guide/import-terms-for-logical-axioms.md
Owners: @sabrinatoro, @twhetzel

Fix HGNC mirror (#7043)
  docs/editors-guide/import-terms-for-logical-axioms.md
  src/ontology/Makefile
  src/ontology/imports/hgnc_terms.txt
Owners: @sabrinatoro, @twhetzel, @matentzn

Update Mondo diff reports
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro

Remove @sabrinatoro as assignee for GH workflows
  .github/ISSUE_TEMPLATE/add-synonym.yml
  .github/ISSUE_TEMPLATE/add-term.yml
  .github/workflows/diff.yaml
  .github/workflows/docs.yaml
Owners: @sabrinatoro

Remove @sabrinatoro as assignee for GH workflows (#7054)
  .github/ISSUE_TEMPLATE/add-synonym.yml
  .github/ISSUE_TEMPLATE/add-term.yml
  .github/workflows/diff.yaml
  .github/workflows/docs.yaml
Owners: @sabrinatoro

removed Sabrina from automatic assignment fix-xref.md
  .github/ISSUE_TEMPLATE/fix-xref.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment add-gene-related-syndrome.md
  .github/ISSUE_TEMPLATE/add-gene-related-syndrome.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment mergeTerm.md
  .github/ISSUE_TEMPLATE/mergeTerm.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment mergeTerm.md
  .github/ISSUE_TEMPLATE/mergeTerm.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment obsolete-a-term.md
  .github/ISSUE_TEMPLATE/obsolete-a-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment obsolete-a-term.md
  .github/ISSUE_TEMPLATE/obsolete-a-term.md
Owners: @sabrinatoro, @twhetzel

Update relabel-term.md
  .github/ISSUE_TEMPLATE/relabel-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment relabel-term.md
  .github/ISSUE_TEMPLATE/relabel-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment revise-logical-definition.md
  .github/ISSUE_TEMPLATE/revise-logical-definition.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment revise-subclass-relationship.md
  .github/ISSUE_TEMPLATE/revise-subclass-relationship.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment revise-textual-definition.md
  .github/ISSUE_TEMPLATE/revise-textual-definition.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment split-term.md
  .github/ISSUE_TEMPLATE/split-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment typos-bugs-errors.md
  .github/ISSUE_TEMPLATE/typos-bugs-errors.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment typos-bugs-errors.md (#7064)
  .github/ISSUE_TEMPLATE/typos-bugs-errors.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment split-term.md (#7063)
  .github/ISSUE_TEMPLATE/split-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment revise-textual-definition.md (#7062)
  .github/ISSUE_TEMPLATE/revise-textual-definition.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment fix-xref.md (#7055)
  .github/ISSUE_TEMPLATE/fix-xref.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment add-gene-related-syndrome.md (#7056)
  .github/ISSUE_TEMPLATE/add-gene-related-syndrome.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment revise-subclass-relationship.md (#7061)
  .github/ISSUE_TEMPLATE/revise-subclass-relationship.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment revise-logical-definition.md (#7060)
  .github/ISSUE_TEMPLATE/revise-logical-definition.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment relabel-term.md (#7059)
  .github/ISSUE_TEMPLATE/relabel-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment obsolete-a-term.md (#7058)
  .github/ISSUE_TEMPLATE/obsolete-a-term.md
Owners: @sabrinatoro, @twhetzel

removed Sabrina from automatic assignment mergeTerm.md (#7057)
  .github/ISSUE_TEMPLATE/mergeTerm.md
Owners: @sabrinatoro, @twhetzel

updated imports
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/ro_terms.txt
  src/ontology/imports/uberon_terms.txt
Owners: @sabrinatoro

typo in one of the ncbitaxon
  src/ontology/imports/ncbitaxon_terms.txt
Owners: @sabrinatoro

updated imports (#7078)
  src/ontology/imports/cl_terms.txt
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/ontology/imports/ro_terms.txt
  src/ontology/imports/uberon_terms.txt
Owners: @sabrinatoro
