Repository monarch-initiative/mondo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn, action@github.com

mode of inheritance patterns for non-human diseases
  src/patterns/dosdp-patterns/autosomal_dominant.yaml
  src/patterns/dosdp-patterns/autosomal_recessive.yaml
  src/patterns/dosdp-patterns/non-human_animal_x_linked.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_dominant.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_recessive.yaml
  src/patterns/dosdp-patterns/non_human_animal_y_linked.yaml
  src/patterns/dosdp-patterns/x_linked.yaml
  src/patterns/dosdp-patterns/y_linked.yaml
Owners: @sabrinatoro, @twhetzel

update
  src/patterns/dosdp-patterns/non_human_animal_autosomal_dominant.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_recessive.yaml
Owners: @sabrinatoro, @twhetzel

update reference
  _pages/disease-naming.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

update contributors
  _pages/contributors.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Update community web site (#8632)
  _pages/contributors.md
  _pages/disease-naming.md
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

refresh imports
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/sparql/construct/construct-ncbigene.sparql
Owners: @sabrinatoro, @twhetzel

Update Mondo diff reports
  src/ontology/reports/mondo_obsoletioncandidates.tsv
  src/ontology/reports/mondo_release_diff_changed_terms.tsv
  src/ontology/reports/mondo_release_diff_new_terms.tsv
Owners: @sabrinatoro, @twhetzel

Bosma Arhinia Microphthalmia Syndrome
  src/ontology/components/mondo-tags.owl
Owners: @sabrinatoro, @twhetzel

refresh imports (#8640)
  src/ontology/imports/hgnc_terms.txt
  src/ontology/imports/ncbitaxon_terms.txt
  src/sparql/construct/construct-ncbigene.sparql
Owners: @sabrinatoro, @twhetzel

add query
  src/ontology/analysis/analyze_mondo_stats/README.md
  src/ontology/analysis/analyze_mondo_stats/sparql/get_all_human_disease_mondo_classes_neoplasm_children.ru
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky

Bosma Arhinia Microphthalmia Syndrome (#8643)
  src/ontology/components/mondo-tags.owl
Owners: @sabrinatoro, @twhetzel

updated variable to human/non-human disease name
  src/patterns/dosdp-patterns/autosomal_dominant.yaml
  src/patterns/dosdp-patterns/autosomal_recessive.yaml
  src/patterns/dosdp-patterns/non-human_animal_x_linked.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_dominant.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_recessive.yaml
  src/patterns/dosdp-patterns/non_human_animal_y_linked.yaml
Owners: @sabrinatoro, @twhetzel

updated variable name
  src/patterns/dosdp-patterns/x_linked.yaml
  src/patterns/dosdp-patterns/y_linked.yaml
Owners: @sabrinatoro, @twhetzel

mode of inheritance patterns for non-human diseases (#8629)
  src/patterns/dosdp-patterns/autosomal_dominant.yaml
  src/patterns/dosdp-patterns/autosomal_recessive.yaml
  src/patterns/dosdp-patterns/non-human_animal_x_linked.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_dominant.yaml
  src/patterns/dosdp-patterns/non_human_animal_autosomal_recessive.yaml
  src/patterns/dosdp-patterns/non_human_animal_y_linked.yaml
  src/patterns/dosdp-patterns/x_linked.yaml
  src/patterns/dosdp-patterns/y_linked.yaml
Owners: @sabrinatoro, @twhetzel

remove pip install and update files running pattern_mkdocs goal
  docs/editors-guide/patterns/autosomal_dominant.md
  docs/editors-guide/patterns/autosomal_recessive.md
  docs/editors-guide/patterns/index.md
  docs/editors-guide/patterns/non-human_animal_x_linked.md
  docs/editors-guide/patterns/non_human_animal_autosomal_dominant.md
  docs/editors-guide/patterns/non_human_animal_autosomal_recessive.md
  docs/editors-guide/patterns/non_human_animal_y_linked.md
  docs/editors-guide/patterns/x_linked.md
  docs/editors-guide/patterns/y_linked.md
  src/ontology/mondo.Makefile
Owners: @sabrinatoro, @twhetzel, @nicolevasilevsky, @matentzn

.github/CODEOWNERS:

# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @sabrinatoro @twhetzel
*.sparql @twhetzel
*.py	  @twhetzel
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @twhetzel
mondo.Makefile @matentzn @twhetzel

docs/*  action@github.com 
docs/*  actions-user
